#outer-container {
  display: flex;
  justify-content: space-around;
}

.inner-container {
  width: 50vw;
  padding: 5%;
}

.inner-container > div {
  display: flex;
  flex-direction: column;
}

.entry {
  border-bottom: 1px solid orange;
}